{{#each this}}
<div class="photo-card">
    <div class="image-box">
        <img class="photo-img" src="{{webformatURL}}" data-source={{largeImageURL}} alt="" />
    </div>
    <div class="stats">
        <p class="stats-item">
            <i class="material-icons">thumb_up</i>
            {{likes}}
        </p>
        <p class="stats-item">
            <i class="material-icons">visibility</i>
            {{views}}
        </p>
        <p class="stats-item">
            <i class="material-icons">comment</i>
            {{comments}}
        </p>
        <p class="stats-item">
            <i class="material-icons">cloud_download</i>
            {{downloads}}
        </p>
    </div>
</div>
{{/each}}


{{!-- <div class="lightbox js-lightbox">
    <div class="lightbox__overlay"></div>

    <div class="lightbox__content">
        <img class="lightbox__image" src="" alt="" />
    </div>

    <button type="button" class="lightbox__button" data-action="close-lightbox"></button>
</div> --}}